.banner {
  background-image: linear-gradient(to right, #635dce, #3e27ae);
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.banner > h1 {
  margin: 5vmax;
  font-size: 2.5vmax;
  font-weight: 600;
}

.banner > p {
  font-size: 1.4vmax;
  font-weight: 300;
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font-size: 1vmax;
  font-weight: 500;
}

.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
}

.homeHeading {
  text-align: center;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 2, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14vmax, 1fr));
  margin: 2vmax auto;

  width: 80vw;
  flex-wrap: wrap;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}
.productCard > img {
  width: 14vmax;
}

.productCard > div {
  display: flex;
  margin: 0.5vmax;
  justify-content: flex-start;
  align-items: center;
}

.productCard > div > span {
  margin: 0.5vmax;
  font-size: 0.7vmax;
  font-weight: 300;
}

.productCard > p {
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax 0.5vmax;
  color: tomato;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}

@media screen and (max-width: 800px) {
  .productCard > p {
    font-size: 1.7vmax;
  }
  .productCard > div {
    margin: 0;
    display: block;
  }
  .productCard > span {
    font-size: 1.5vmax;
  }
  .productCard > div > span {
    font-size: 1.5vmax;
    margin: 0 0.5vmax;
  }
}
