.profileContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  max-width: 100%;
}

.profileContainer > div {
  height: 100vh;
  display: flex;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.555);
  transform: translateX(-10vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
  width: 20vmax;
  border-radius: 50%;
  transition: all 0.5s;
}
.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  font-size: 1.5vmax;
  font-weight: 400;
  color: white;
  background-color: tomato;
  text-decoration: none;
  padding: 0.8vmax;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
  background-color: rgba(204, 78, 56);
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 5vmax;
}

.profileContainer > div:last-child > div > h4 {
  font-size: 1.5vmax;
  font-weight: 400;
  color: black;
}

.profileContainer > div:last-child > div > p {
  font-size: 1.2vmax;
  margin: 0.2vmax;
  font-family: cursive;

  font-weight: 400;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: rgb(68, 68, 68);
  font-weight: 400;
  font-size: 1.5vmax;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
  padding: 0.5vmax;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }
  .profileContainer > div:first-child > h1 {
    font-size: 3.2vmax;
    font-weight: 500;
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font-size: 2vmax;
    padding: 1vmax;
  }
  .profileContainer > div:last-child {
    align-items: center;
  }
  .profileContainer > div:last-child > div {
    text-align: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font-size: 2.5vmax;
  }
  .profileContainer > div:last-child > div > p {
    margin: 0.5vmax 0;
    font-size: 2vmax;
  }
  .profileContainer > div:last-child > div:last-child > a {
    font-size: 2vmax;
    padding: 1vmax;
    margin: 2vmax 0;
  }
}
