.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  padding: 0 7vmax;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  position: fixed;
  flex-direction: column;
  height: 100vh;
  display: flex;
  left: 0;
  top: 0;
}

#myOrdersHeading {
  text-align: center;
  font-size: 1.4vmax;
  background-color: rgb(44, 44, 44);
  color: white;
  transition: all 0.5s;
  box-sizing: border-box;
  padding: 1vmax 0;
}

.myOrdersTable {
  background-color: white;
}

.myOrdersTable .MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.myOrdersTable .MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 12px;
}

.myOrdersTable .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}
.myOrdersTable .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.myOrdersTable div {
  font-size: 1.3vmax;
  /* color: rgba(0, 0, 0, 0.678); */
  border: none;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}
.myOrdersTable a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader {
  background-color: tomato;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
  font-size: 1.5vmax;
}

.MuiDataGrid-iconSeparator {
  display: none;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font-size: 2.2vmax;
    padding: 4vw;
  }

  .myOrdersTable div {
    font-size: 4vw;
  }
  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }
  .MuiDataGrid-columnHeader div {
    font-size: 5vw;
  }
}
