* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", "Droid Sans", "Chilanka";
  overflow-x: hidden;
  cursor: url("./images/cursor.png"), auto;
}

input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
